* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --form-color: #24303c;
}

body {
    background-image: url("fondo-blur-teal.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-student {
    width: 400px;
    margin: auto;
    padding: 50px;
    margin-top: 5%;
    /* margin-bottom: 100; */
    background: var(--form-color);
    border-radius: 5px;
    font-family: "calibri";
    color: white;
    box-shadow: 5px 10px 20px #000;
}

h4 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.digit-calc {
    width: 100%;
    background: var(--form-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 2px solid teal;
    font-family: "calibri";
    font-size: 15px;
    color: white;
}

.form-student p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "calibri";
    line-height: 40px;
}

.form-student a {
    color: teal;
}

.send-data {
    width: 100%;
    border: none;
    color: white;
    padding: 13px;
    background-color: teal;
    margin-top: 16px;
}
